NEXT_PUBLIC_SUPABASE_URL=https://lkbfscxbeojdvhttcxvj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxrYmZzY3hiZW9qZHZodHRjeHZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4MjM4NjksImV4cCI6MjA4NzM5OTg2OX0.MrY3w9nqvMKYggxQDtoDnllVdsTuUOHKaD68zQCWS4g
PEXELS_API_KEY=
